.body
{
	font-family: gentium-book-basic-n4, sans-serif;
}

.subhead-serif
{
	font-family: gentium-book-basic-i7, sans-serif;
}

.heading,.subhead
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u144-4,#u167-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u159-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u182-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u189-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u312-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u333-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u329-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u341-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u376-4
{
	font-family: gentium-book-basic-n4, sans-serif;
}

