.body
{
	font-family: gentium-book-basic-n4, sans-serif;
}

.subhead-serif
{
	font-family: gentium-book-basic-i7, sans-serif;
}

.heading,.subhead
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u144-4,#u167-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u159-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u182-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u189-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u215-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u227-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u220-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u204-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u414-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u434-4
{
	font-family: gentium-book-basic-n4, sans-serif;
}

#u422-4
{
	font-family: gentium-book-basic-n4, sans-serif;
}

#widgetu419.frm-sub-st #u430-4 p,#widgetu419.frm-subm-err-st #u425-4 p,#widgetu419.frm-subm-ok-st #u431-4 p
{
	font-family: gentium-book-basic-i7, sans-serif;
}

#u427-4
{
	font-family: gentium-book-basic-n4, sans-serif;
}

#widgetu432_input,#widgetu432_prompt,#widgetu420_input,#widgetu420_prompt,#widgetu426_input,#widgetu426_prompt
{
	font-family: gentium-book-basic, sans-serif;
}

