#u345-3
{
	background-color: #30180A;
	position: relative;
}

#u128
{
	position: relative;
	background: transparent url("../images/banner-normal.png") no-repeat left top;
	background-size: contain;
}

#u128:hover
{
	background: transparent url("../images/banner-hover.png") no-repeat left top;
	background-size: contain;
}

#u128:active
{
	background: transparent url("../images/banner-down.png") no-repeat left top;
	background-size: contain;
}

#u144-4
{
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u145,#u146
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	border-width: 2px 0px 0px;
}

#menuu155
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u163,#u164
{
	background-color: transparent;
	position: relative;
}

#u167-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	color: #FFFFFF;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u156,#u157
{
	background-color: transparent;
	position: relative;
}

#u159-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	color: #FFFFFF;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u178,#u181
{
	background-color: transparent;
	position: relative;
}

#u182-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	color: #FFFFFF;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u185,#u186
{
	background-color: transparent;
	position: relative;
}

#u189-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	color: #FFFFFF;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u164.MuseMenuActive #u167-4 p,#u157.MuseMenuActive #u159-4 p,#u181.MuseMenuActive #u182-4 p,#u186.MuseMenuActive #u189-4 p
{
	color: #894819;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

