.version.menu /* version checker */
{
	color: #000008;
	background-color: #9BA873;
}

.html
{
	background-color: #F5F1EE;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 623px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u147
{
	z-index: 37;
	min-height: 100px;
	padding-bottom: 18px;
}

#u147_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u149
{
	z-index: 38;
	width: 262px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 89px;
}

#menuu194
{
	z-index: 40;
	width: 331px;
	margin-right: -10000px;
	margin-top: 52px;
	left: 707px;
}

#u212
{
	width: 81px;
	padding-bottom: 14px;
}

#u215-4
{
	width: 81px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u224
{
	width: 81px;
	padding-bottom: 14px;
}

#u227-4
{
	width: 81px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u219
{
	width: 81px;
	padding-bottom: 14px;
}

#u220-4
{
	width: 81px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u203
{
	width: 82px;
	padding-bottom: 14px;
}

#u204-4
{
	width: 82px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u147-bw
{
	z-index: 37;
	min-height: 100px;
}

#pu345-3
{
	width: 0.01px;
	margin: 455px -10000px -10px -100px;
}

#u345-3
{
	z-index: 2;
	width: 1160px;
	min-height: 257px;
	margin-right: -10000px;
}

#u128
{
	z-index: 5;
	width: 180px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 490px;
}

#u128:hover
{
	width: 180px;
	min-height: 0px;
	margin: 36px -10000px 0px 0px;
}

#u128:active
{
	width: 180px;
	min-height: 0px;
	margin: 36px -10000px 0px 0px;
}

#u144-4
{
	z-index: 6;
	width: 124px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 28px;
}

#u145
{
	z-index: 10;
	width: 359px;
	height: 29px;
	margin-right: -10000px;
	margin-top: 52px;
	left: 122px;
}

#u146
{
	z-index: 11;
	width: 359px;
	height: 29px;
	margin-right: -10000px;
	margin-top: 52px;
	left: 679px;
}

#menuu155
{
	z-index: 12;
	width: 331px;
	margin-right: -10000px;
	margin-top: 112px;
	left: 415px;
}

#u209,#u163
{
	width: 81px;
	min-height: 34px;
	margin-right: -10000px;
}

#u164
{
	width: 81px;
	padding-bottom: 14px;
}

#u167-4
{
	width: 81px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u223,#u156
{
	width: 81px;
	min-height: 34px;
	margin-right: -10000px;
	left: 83px;
}

#u157
{
	width: 81px;
	padding-bottom: 14px;
}

#u159-4
{
	width: 81px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u216,#u178
{
	width: 81px;
	min-height: 34px;
	margin-right: -10000px;
	left: 166px;
}

#u181
{
	width: 81px;
	padding-bottom: 14px;
}

#u212.MuseMenuActive,#u224.MuseMenuActive,#u219.MuseMenuActive,#u164.MuseMenuActive,#u157.MuseMenuActive,#u181.MuseMenuActive
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u182-4
{
	width: 81px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u212.MuseMenuActive #u215-4,#u224.MuseMenuActive #u227-4,#u219.MuseMenuActive #u220-4,#u164.MuseMenuActive #u167-4,#u157.MuseMenuActive #u159-4,#u181.MuseMenuActive #u182-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u202,#u185
{
	width: 82px;
	min-height: 34px;
	margin-right: -10000px;
	left: 249px;
}

#u186
{
	width: 82px;
	padding-bottom: 14px;
}

#u203.MuseMenuActive,#u186.MuseMenuActive
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u189-4
{
	width: 82px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u203.MuseMenuActive #u204-4,#u186.MuseMenuActive #u189-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -454px;
}

